VITE_CHAIN_ID=46630
VITE_RPC_URL=https://rpc.testnet.chain.robinhood.com
VITE_EXPLORER_URL=https://explorer.testnet.chain.robinhood.com
VITE_RECOM_LAUNCHPAD=0x8378745b987214449d91c115E72f262f497Fb8D9
PRIVATE_KEY=d9b828f56bbdc2f309186c157715b3218bb884e4cee7b011ae3d4489ac58a59d
RH_RPC_URL=https://rpc.testnet.chain.robinhood.com
